html{
	overflow: auto;
	width: 99wv;
	max-width: 99vw;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	max-width: 100%;
	/* overflow-x: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{	
	overflow-x: hidden;
}

/* Setting touch screen devices to 100vw wi */
@media only screen and (max-width: 1024px){
	body{
		width: 100vw;
		max-width: 100vw;
	}
}
